<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-162067378-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-162067378-1');
</script>

 <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {%- seo -%}
  <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
  {%- feed_meta -%}
  <script src="{{ "/assets/javascript/bootstrap/jquery.min.js" | relative_url }}"></script>
  <script src="{{ "/assets/javascript/bootstrap/bootstrap.bundle.min.js" | relative_url }}"></script>
   <script src="{{ "/assets/javascript/popPyramid.js" | relative_url }}"></script>
  <script src="https://mottie.github.io/tablesorter/dist/js/jquery.tablesorter.min.js"></script>
  <script src="  https://mottie.github.io/tablesorter/js/jquery.tablesorter.widgets.js"></script>
  <script src="https://use.fontawesome.com/10d4ff9df7.js"></script>
  <!--WIDGET ZONE-->
  <script src="https://d3js.org/d3.v4.js"></script>

<script src="https://d3js.org/topojson.v1.min.js"></script>
<script src="https://d3js.org/d3-geo-projection.v2.min.js"></script>

<!-- Color Scale -->
<script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>

<!--homebrew-->



</head>
