---
layout: default
---
<script src="{{ "/assets/javascript/summon.js" | relative_url }}"></script>



<div>
{% comment %}
  {%- if page.title -%}
  <header>
    <h1>{{ page.title }}</h1>
  </header>
  {%- endif -%}
{% endcomment %}
  


  
<!--INICIA SEMÁFORO-->
<h1 class="text-center" style='text-transform: none;'>Casos nacionales</h1>
<div class="row d-flex justify-content-center">
  <div class="card text-white bg-danger mb-3 col-md-4" style="max-width: 20rem;">
    <div class="card-header text-center" style='text-transform: none;'>Totales</div>
    <div class="card-body">
      <h4 class="card-title text-center" id="totales"></h4>
      <!--p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p-->
    </div>
    <div class="card-footer d-flex">
      <small class="text-white" style='height: 1rem;' id='tiempo_actualizacion_0'></small>
    </div>
  </div>
  <div class="card text-white bg-warning mb-3 col-md-4" style="max-width: 20rem;">
    <div class="card-header text-center" style='text-transform: none;'>Últimas 24h</div>
    <div class="card-body">
      <h4 class="card-title text-center" id="nuevos"></h4>
      <!--p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p-->
    </div>
    <div class="card-footer d-flex">
      <small class="text-white" style='height: 1rem;' id='tiempo_actualizacion_1'></small>
    </div>
  </div>
  <div class="card text-white bg-dark mb-3 col-md-4" style="max-width: 20rem;">
    <div class="card-header text-center" style='text-transform: none;'>Defunciones</div>
    <div class="card-body">
      <h4 class="card-title text-center" id="muertes"></h4>
      <!--p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p-->
    </div>
    <div class="card-footer d-flex">
      <small class="text-white" style='height: 1rem;' id='tiempo_actualizacion_2'></small>
    </div>
  </div>
</div>
<script src="{{ "/assets/javascript/summon.js" | relative_url }}"></script>




<div class='row d-flex justify-content-center'>
 <a href="https://api.whatsapp.com/send?&text=https://mexicovid19.github.io/" class="fa fa-whatsapp"></a>
 <a href="https://www.facebook.com/share.php?u=https://mexicovid19.github.io/" class="fa fa-facebook"></a>
 <a href="https://twitter.com/intent/tweet?text=Check%20this%20awesome%20website&url=https://mexicovid19.github.io/&title=Mexicovid19" class="fa fa-twitter"></a>
 <a href="https://www.linkedin.com/sharing/share-offsite/?url=https://mexicovid19.github.io/" class="fa fa-linkedin"></a>
 <a href="http://www.reddit.com/submit?url=https://mexicovid19.github.io/&title=Mexicovid19" class="fa fa-reddit"></a>
</div>

   <!--div class="alert alert-dismissible alert-info" style="margin-top:5%;">	
  <h4 class="alert-heading" style="text-transform:none;">NUEVO: </h4>	
  <ul>	
    <li> <h6>12 de octubre - Cambios en el conteo oficial</h6>	
      <p>	
        Dados los cambios que el gobierno anunció el <a href="https://www.gob.mx/salud/documentos/datos-abiertos-152127" class="alert-link">7 de octubre del 2020</a>, observamos un elevado número de casos y muertes reportadas ese mismo día. Sin embargo,
    esto no significa que ese día haya habido tal número de contagios/muertes, sino que ese día fueron <a style="color:#FF8654 !important;">reportados</a>. En ese sentido, los datos más apegados a lo 
    acontecido se pueden observar en las visualizaciones por fecha de prueba/fecha de muerte.</a>	
      </p>	
    </li>	
  </ul>	
</div-->
  
<!--INICIA MAPA-->
<h1 class="text-center" style='margin-top: 5%; text-transform: none;'>Mapa</h1>
<p id="tiempo_actualizacion_3"> </p>
<p class='text-center'>Los colores no representan los casos totales, sino que son generados a partir de los casos totales por cada 100 mil habitantes</p>

<div class="justify-content-center row d-flex">
<div id="mapa"></div>
</div>

<script src="{{ "/assets/javascript/mapa.js" | relative_url }}"></script>

<form method="get" action="estados.html">
<button type="submit" class="btn btn-primary btn-lg btn-block btn-info">Consulta la información para cada estado</button>
</form>
 <!--INICIA SECCION DE GRAFICAS-->
<!--INICIA EL PLOT-->
<!-- Initialize a select button -->
<!--select id="selectButton"></select-->
<div class="row d-flex justify-content-center" id="cont_graf">

<!-- Create a div where the graph will take place -->

<div class="alert alert-dismissible alert-info" style="margin-top:5%;">
  <h4 class="alert-heading" style="text-transform:none;">Aviso</h4>
  <ul class='justify-content-center'>
    <li>Las gráficas a continuación presentan la información conocida por el gobierno el día de publicación.</li>
    <li>La información actualizada posteriormente es publicada por la
      <a href="https://www.gob.mx/salud/documentos/datos-abiertos-152127" class="alert-link">Dirección General de Epidemiología.</a>
      <a href="datos_abiertos.html" class="alert-link" style="color:#FF8654 !important;">Consulta nuestro análisis para esta información.</a></li>
  </ul>
</div>

<div class="justify-content-center" id="grafica_totales"><h1 class="text-center" style='margin-top: 5%; text-transform: none;'>Casos confirmados totales</h1><p id="tiempo_actualizacion_4"> </p>
  <div class="btn-block justify-content-center" role="group" aria-label="Basic example">
    <!-- Add 2 buttons -->
    <button class="btn btn-lg btn-dark mx-2" style="max-width: 40%" id="Nuevos_JH" value="Nuevos_JH">Fecha de anuncio</button>
    <button class="btn btn-lg btn-dark mx-1" style="max-width: 40%" id="Nuevos_abiertos" value="Nuevos_abiertos">Fecha de prueba</button>

   <script src="{{ "/assets/javascript/grafica_comparativo_casos.js" | relative_url }}"></script>

 </div>
</div>

<div class="alert alert-dismissible alert-info" style="margin-top:5%;">
  <!--h4 class="alert-heading" style="text-transform:none;">Acerca de nuestras proyecciones</h4-->
  <p class="mb-0"> Los puntos azules corresponden al número de casos reportados día por día por las autoridades.
    Los puntos naranjas representan el número de casos por la fecha en la que se realizó la prueba.
    La información análoga es mostrada en la gráfica inferior. En ese caso presentamos también la media móvil de 7 días.
    Para saber más sobre la diferencia entre la información en azul y la información en naranja, por favor lee
    <a href="/posts/los-datos-abiertos.html" class="alert-link"  style="color:#FF8654 !important;">esto</a> o dirígite
     <a href="/datos_abiertos.html" class="alert-link"  style="color:#FF8654 !important;">aquí.</a>
  </p>
</div>


  <div class="justify-content-center" id="barplot_nuevos"><h1 class="text-center" style='margin-top: 5%; text-transform: none;'>Casos confirmados por día</h1><p id="tiempo_actualizacion_5"></p>
    <div class="btn-block justify-content-center" role="group" aria-label="Basic example">
      <!-- Add 2 buttons -->
      <button class="btn btn-lg btn-dark mx-2" style="max-width: 40%" onclick="update('Nuevos_JH')">Fecha de anuncio</button>
      <button class="btn btn-lg btn-dark mx-1" style="max-width: 40%" onclick="update('Nuevos_abiertos')">Fecha de prueba</button>

      <script src="{{ "/assets/javascript/barplot_comparativo_casos_nuevos.js" | relative_url }}"></script>

     </div>
   </div>

  <div class="alert alert-dismissible alert-info" style="margin-top:5%;">
    <!--h4 class="alert-heading" style="text-transform:none;">Acerca de nuestras proyecciones</h4-->
    <p class="mb-0"> El área naranja representa los casos diarios por fecha de la realización de la prueba.
       En el área sombreada, el número de registros puede cambiar drásticamente de un día a otro,
       ya que esta se actualizará con aquellas pruebas pendientes cuyos resultados todavía no han sido presentados por el gobierno.
       Para saber más, puedes leer nuestra sección de
       <a href="datos_abiertos.html" class="alert-link" style="color:#FF8654 !important;">datos abiertos.</a>
    </p>
  </div>



<div class="justify-content-center" id="pir"><h1 class="text-center" style='margin-top: 5%; text-transform: none;'>Casos por edad y sexo</h1><p id="tiempo_actualizacion_6"> </p></div>
</div>



<!--INICIA EL POBLACIONAL-->
<script>
var urlPyr = "https://raw.githubusercontent.com/mexicovid19/Mexico-datos/master/datos/demograficos_variables/piramide_sexo_edad.json";

d3.json(urlPyr, function(data) {

  var options = {
    height: 400,
    width: 600,
    style: {
            leftBarColor: "#1F9BCF",
            rightBarColor: "#07918A"
            }
          };
  pyramidBuilder(data, '#pir', options);
});

</script>



<!--BOTÓN DE DESCARGA-->

<form method="get" action="https://github.com/mexicovid19/Mexico-datos/archive/master.zip">
<button type="submit" class="btn btn-primary btn-lg btn-block btn-info" style='top-margin: 5%'>Descarga los datos</button>
</form>


  <section>
    {% comment %}
    index.md va aca
    {{ content }}
    }
    {% endcomment %}
  </section>


  {%- if site.posts.size > 0 -%}
    <p class="h4">{{ page.list_title | default: "Posts" }}</p>
    <ul class="list-unstyled">
      {%- for post in site.posts -%}
      <li>
        <span class="text-muted">
          {%- assign date_format = "%b %-d, %Y" -%}
          {{ post.date | date: date_format }}
        </span>
        <p class="h5">
          <a href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </p>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>

    <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
  {%- endif -%}

</div>
